.stage{
	padding: 40px 5px 50px;
	background-color: grey;
	background-repeat: no-repeat;
	background-position-x: 80%;
	background-position-y: 35%;
	background-size: cover;
	font-family: 'Work Sans', sans-serif;
	background-image: url('../img/fondo-banmedica.jpg');
	.stage__title{
		color: #fff;
		font-size: 42px;
		line-height: 50.4px;
		font-weight: 400;
		margin: 0;
		margin-bottom: 24px;
		@media( max-width: 479px) {
			font-size: 28px;
			line-height: 33px;
		}
		span{
			font-weight: 600;
		}
		br{
			@media( max-width: 768px) {

			}
		}
	}	
	.stage__wallet{
		color: #fff;
		font-size: 19px;
		line-height: 32px;
		font-weight: 400;
		margin: 0;
		margin-bottom: 4px;
		span{
			font-size: 24px;
			font-weight: 600;
		}
		@media( max-width: 479px) {
			font-size: 16px;
			line-height: 19px;
			span{
				font-size: 19px;
			}
		}
	}
	.stage__detail{
		color: #4c97b7;
		text-decoration: underline;
		display: inline-block;
		font-size: 19px;
		line-height: 32px;
		margin: 0;
		font-weight: 600;
		&:hover{
			color: #1e7ba3;
		}
		@media( max-width: 479px) {
			font-size: 16px;
			line-height: 19px;
		}
	}
}